@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .before-timenode {
    @apply before:absolute before:bg-white before:h-1/2 before:w-1/2 before:rounded-inherit before:top-1/2 before:left-1/2 before:-translate-x-1/2  before:-translate-y-1/2 before:content-'';
  }
  .skeleton {
    @apply bg-gray-300 animate-pulse rounded-[0.25rem];
  }
}

*:not(.html-parse-content *) {
  /* Add ":not(.html-parse-content *)" for avoiding reset CSS in HTML parser
    HTML parser must contain class name "html-parse-content" */
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat);
  background-color: #f5f5f5;
  overflow: overlay;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: rgb(255 255 255 / 40%);
}
