.node-timeline {
  box-shadow: 0px 0px 20px 0px rgba(18, 72, 116, 0.5);
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
