.navigation-list-menu {
  animation: backgroundChange 20s linear infinite;
}

@keyframes backgroundChange {
  0% {
    background: linear-gradient(
        180deg,
        #fff 0%,
        rgba(255, 255, 255, 0.5) 59.64%,
        #fff 100%
      ),
      url("/images/bg-menu1.png"), lightgray 50%;
  }
  50% {
    background: linear-gradient(
        180deg,
        #fff 0%,
        rgba(255, 255, 255, 0.5) 59.64%,
        #fff 100%
      ),
      url("/images/bg-menu2.png"), lightgray 50%;
  }
  100% {
    background: linear-gradient(
        180deg,
        #fff 0%,
        rgba(255, 255, 255, 0.5) 59.64%,
        #fff 100%
      ),
      url("/images/bg-menu1.png"), lightgray 50%;
  }
}
