.system {
  padding: 87px 41px;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 35.68%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("/images/philosophy.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}
